# SQL Server
DB_HOST=xxxxx
DB_USER=xxxxx
DB_PASS=xxxxx
DB_NAME=xxxxx
DB_PORT=1433

# MongoDB logs
MONGO_URI=mongodb://localhost:27017
MONGO_DB=dbLogs
MONGO_COLLECTION=logsFacturasSRI

# SRI (opcional para pruebas, pero se obtiene de BD)
SRI_URL=https://cel.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantesOffline?wsdl

# Puppeteer (opcional)
PUPPETEER_EXECUTABLE_PATH=