
<style>
    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Bookman L", bold, sans-serif;
    }

    .Descripcion1 {
        font-weight: bold;
    }

    .BordesTablas {
        border: 2px solid;
        border-radius: 6px;
        -moz-border-radius: 6px;
        border-collapse: separate;
    }

    .BordesTablasDetalle {
        border: 2px solid;
        border-collapse: separate;
    }
</style>

<table border="0" width="1160" height="180" cellspacing="2">
    <tr>
        <td>
            <img width="490" height="180" alt="No existe imagen en doc/img/ " src="img/LogoPromariscoNuevaPescanova.jpg" />
        </td>
        <td rowspan="2" width="580" class="BordesTablas">
            <table border="0" width="100%">
                <tr>
                    <td colspan="2"><h1 align="center">XR.U.C:</h1></td>
                </tr>
                <tr>
                    <td colspan="2"><h1 class="Descripcion1" align="center">GUIA DE REMISION</h1></td>

                </tr>
                <tr>
                    <td width="28%">
                        &nbsp;&nbsp;<span class="Descripcion1">No</span>
                    </td>
                    <td>
                        <span id="estab">Xestab</span>-<span id="ptoEmi">XptoEmi</span>-<span id="secuencial">Xsecuencial</span> &emsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Numero de <br>&nbsp;&nbsp;Autorizacion</span>
                    </td>
                    <td>
                        <span id="autorizacionoffline">Xautorizacionoffline</span>
                    </td>

                </tr>
                <!--
                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Fecha  de <br>&nbsp;&nbsp;Autorizacion:</span>
                    </td>
                    <td>
                        <span id="fechaEmision">XYZfechaAutorizacion</span>
                    </td>
                </tr>
                   -->
                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Ambiente:</span>
                    </td>
                    <td>
                        <span id="ambiente">Xambiente</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Emision:</span>
                    </td>
                    <td>
                        <span id="emision">Xemision</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <center>
                            <span class="Descripcion1">Clave de Acceso</span>
                            <span id="claveAcceso" style="font-family:'Code39AzaleaRegular1';  font-size:73px;"><br>XYZclaveAcceso</span>
                        </center>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" align="center">
                        <span id="claveAccesop">XYZclaveAcceso</span>
                    </td>
                </tr>
            </table>
        </td>

    <tr>
        <td class="BordesTablas">
            <table border="0" width="100%" height="100%">
                <tr>
                    <td colspan="2">
                        <h2 align="center" class="Descripcion1" id="razonSocial">XrazonSocial </h2>
                    </td>
                </tr>

                <tr>
                    <td width="50%">
                        &nbsp;&nbsp;<span class="Descripcion1">Direccion <br>&nbsp;&nbsp;Matriz:</span>

                    </td>
                    <td>
                        <span id="dirMatriz">XdirMatriz</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Direccion <br>&nbsp;&nbsp;Sucursal:</span>
                    </td>
                    <td>
                        <span id="dirEstablecimiento">XYZdirEstablecimiento</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Contribuyente especial Nro.:</span>
                    </td>
                    <td>
                        <span id="obligadoContabilidad">XYZcontribuyenteEspecial</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Obligado a llevar contabilidad:</span>
                    </td>
                    <td>
                        <span id="obligadoContabilidad">XYZobligadoContabilidad</span>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" align="center">
                        &nbsp;&nbsp;<span class="Descripcion1">EXPORTADOR HABITUAL DE BIENES </span>
                    </td>
                </tr>

            </table>
        </td>


    </tr>


</table>

<table border="0">
    <tr>
        <td>
            <table border="0" width="1160" cellspacing="1" class="BordesTablas">
                <tr>
                    <td width="35%">
                        &nbsp;&nbsp;<span class="Descripcion1">Identificacion(Transportista):</span>
                    </td>
                    <td colspan="3">
                        <span id="a">XYZrucTransportista</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Razon Social / Nombres y Apellidos:   </span>
                    </td>
                    <td>
                        <span id="b">XYZrazonSocialTransportista</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Placa:</span>
                    </td>
                    <td>
                        <span id="c">XYZplaca</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Punto de Partida:</span>
                    </td>
                    <td>
                        <span id="d">XYZdirPartida</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Fecha inicio Transporte:</span>
                    </td>
                    <td>
                        <span id="e">XYZfechaIniTransporte</span>
                    </td>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Fecha fin Transporte:</span>
                    </td>
                    <td>
                        <span id="h">XYZfechaFinTransporte</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table border="0" width="1160" cellspacing="1" class="BordesTablas">

                <tr>
                    <td width="35%">
                        &nbsp;&nbsp;<span class="Descripcion1">Motivo Traslado:</span>
                    </td>
                    <td>
                        <span id="c">XYZmotivoTraslado</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Destino(Punto de llegada):</span>
                    </td>
                    <td>
                        <span id="d">XYZdirDestinatario</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Identificacion (Destinatario):</span>
                    </td>
                    <td>
                        <span id="e">XYZidentificacionDestinatario</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Razon Social/Nombres Apellidos:</span>
                    </td>
                    <td>
                        <span id="e">XYZrazonSocialDestinatario</span>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>
<br>
<table>
    <tr>
        <td>
            <br>
            <table id="tabledetalle"></table>
        </td>
    </tr>
</table>
<br>

<table id="tableinfoadicional"></table>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<table border="0" width="1160">

    <tr>
        <td align="center"><b>___________________________</b>
        <td>

        <td align="center"><b>___________________________</b></td>


    <tr>
        <td align="center"><b>Elaborado</b>
        <td>

        <td align="center"><b>Aprobado</b></td>
    </tr>
</table>
