
<style>
    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Bookman L", bold, sans-serif;
    }

    .Descripcion1 {
        font-weight: bold;
    }

    .BordesTablas {
        border: 2px solid;
        border-radius: 6px;
        -moz-border-radius: 6px;
        border-collapse: separate;
    }
    .BordesTablasDetalle {
        border: 2px solid;
        border-collapse: separate;
    }


</style>


<table border="0" width="1160">
    <tr>
        <td>
            <img width="490" height="180" alt="No existe imagen en doc/img/ " src="img/LogoPromariscoNuevaPescanova.jpg" />
        </td>
        <td rowspan="2" class="BordesTablas">
            <table border="0" height="100%" width="100%">
                <tr>
                    <td colspan="2"><h1 align="center">XR.U.C:</h1></td>
                </tr>
                <tr>
                    <td colspan="2"><h1 class="Descripcion1" align="center">NOTA DE CREDITO</h1></td>

                </tr>
                <tr>
                    <td width="28%">
                        &nbsp;&nbsp;<span class="Descripcion1">No:</span>
                    </td>
                    <td>
                        <span id="estab">Xestab</span>-<span id="ptoEmi">XptoEmi</span>- <span id="secuencial">Xsecuencial</span> &emsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Numero de <br>&nbsp;&nbsp;Autorizacion:</span>
                    </td>
                    <td>
                        <span id="autorizacionoffline">Xautorizacionoffline</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Fecha  de <br>&nbsp;&nbsp;Autorizacion:</span>
                    </td>
                    <td>
                        <span id="fechaEmision">XYZfechaEmision</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Ambiente:</span>
                    </td>
                    <td>
                        <span id="ambiente">Xambiente</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Emision:</span>
                    </td>
                    <td>
                        <span id="emision">Xemision</span>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <center>
                                    <!--   <span id="claveAcceso">XclaveAcceso</span> -->
                                    <span class="Descripcion1">Clave de Acceso</span>
                                    <span id="claveAcceso" style="font-family:'Code39AzaleaRegular1';  font-size:73px;"><br>XclaveAcceso</span>
                        </center>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" align="center">
                        <span id="claveAccesop">XclaveAcceso</span>
                    </td>
                </tr>
            </table>
        </td>

    <tr>
        <td class="BordesTablas">
            <table border="0" height="100%" width="100%">

                <tr>
                    <td colspan="2">
                        <br>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <h2 align="center" class="Descripcion1" id="razonSocial">XrazonSocial </h2>
                    </td>
                </tr>

                <tr>
                    <td width="40%">
                        &nbsp;&nbsp;<span class="Descripcion1">Direccion <br>&nbsp;&nbsp;Matriz:</span>

                    </td>
                    <td>
                        <span id="dirMatriz">XdirMatriz</span><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Direccion Sucursal: </span>
                    </td>
                    <td>
                        <span id="dirEstablecimiento">XYZdirEstablecimiento</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Contribuyente especial Nro:</span>
                    </td>
                    <td>
                        <span id="obligadoContabilidad">XYZcontribuyenteEspecial</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        &nbsp;&nbsp;<span class="Descripcion1">Obligado a llevar contabilidad:</span>
                    </td>
                    <td>
                        <span id="obligadoContabilidad">XYZobligadoContabilidad</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        &nbsp;&nbsp;<span class="Descripcion1">EXPORTADOR HABITUAL DE BIENES </span>
                    </td>
                </tr>

            </table>
        </td>


    </tr>
</table>


<table border="0" width="1160" cellspacing="1" class="BordesTablas">
    <tr>
        <td width="190">
            &nbsp;&nbsp;<span class="Descripcion1">Razon Social / Nombres y Apellidos:</span>
        </td>

        <td>
            <span id="razonSocialComprador">XYZrazonSocialComprador</span>
        </td>
    </tr>

    <tr>
        <td>
            &nbsp;&nbsp; <span class="Descripcion1">Identificacion:</span>
        </td>

        <td>
            <span id="identificacionComprador">XYZidentificacionComprador</span>
        </td>
    </tr>

    <tr>
        <td>
            &nbsp;&nbsp;<span class="Descripcion1">Fecha Emision:</span>
        </td>

        <td>
            <span id="razonSocialProveedor">XYZfechaEmision</span>
        </td>
    </tr>

    <tr>
        <td colspan="3">
            <br>
            <div style="border-top:dashed; width:100%"></div>
            <br>
        </td>

    </tr>

    <tr>
        <td>
            &nbsp;&nbsp;<span class="Descripcion1">Comprobante que se modifica</span>
        </td>
        <td>
            <span id="codDocModificado">XYZcodDocModificado</span>
        </td>
        <td>
            <span id="numDocModificado">XYZnumDocModificado</span>
        </td>
    </tr>

    <tr>
        <td>
            &nbsp;&nbsp;<span class="Descripcion1">Fecha Emision (Comprobante a modificar):</span>
        </td>
        <td>
            <span id="fechaEmisionDocSustento">VXYZAfechaEmisionDocSustento</span>
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;&nbsp;<span class="Descripcion1">Razon de Modificacion:</span>
        </td>
        <td>
            <span id="RazondeModificacion">VXYZARazondeModificacion</span>
        </td>
    </tr>


</table>


<table>
    <tr>
        <td>
            <br>

            <table id="tabledetalle"></table>
            <br>
        </td>
    </tr>
</table>



<table id="ColSub" width="1160">
    <tr>
        <td>
            <table id="tableinfoadicional"></table>
        </td>
        <th rowspan="2">
            <table border="1" id="tblSubtotales" class="BordesTablas" align="right" cellspacing="0" cellpadding="1" width="390">
                <tr>
                    <td style="width:250px;">
                        <span class="Descripcion1">SUBTOTAL 12%</span>
                    </td>
                    <td align="right" style="width:105px;">
                        <span id="SUBTOTAL12P">XSUBTOTAL12P</span>
                    </td>
                </tr>
                <tr>
                    <td style="width:250px;">
                        <span class="Descripcion1">SUBTOTAL 15%</span>
                    </td>
                    <td align="right" style="width:105px;">
                        <span id="SUBTOTAL15P">XSUBTOTAL15P</span>
                    </td>
                </tr>
                <tr>
                    <td style="width:250px;">
                        <span class="Descripcion1">SUBTOTAL 5%</span>
                    </td>
                    <td align="right" style="width:105px;">
                        <span id="SUBTOTAL5P">XSUBTOTAL5P</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="Descripcion1">SUBTOTAL IVA 0%</span>
                    </td>
                    <td align="right">
                        <span id="SUBTOTAL0P">XSUBTOTAL0P</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="Descripcion1">SUBTOTAL NO OBJETO DE IVA </span>
                    </td>
                    <td align="right">
                        <span id="SUBTOTALNOOBJETODEIVA">XSUBTOTALNOOBJETODEIVA</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="Descripcion1">SUBTOTAL EXENTO DE IVA</span>
                    </td>
                    <td align="right">
                        <span id="SUBTOTALEXENTODEIVA">XSUBTOTALEXENTODEIVA</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="Descripcion1">SUBTOTAL SIN IMPUESTOS</span>
                    </td>
                    <td align="right">
                        <span id="SUBTOTALSINIMPUESTOS">XYZSUBTOTALSINIMPUESTOS</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="Descripcion1">ICE</span>
                    </td>
                    <td align="right">
                        <span id="ICE">XICE</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="Descripcion1">IVA 12%</span>
                    </td>
                    <td align="right">
                        <span id="IVA12P">XIVA12P</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="Descripcion1">IVA 15%</span>
                    </td>
                    <td align="right">
                        <span id="IVA15P">XIVA15P</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="Descripcion1">IVA 5%</span>
                    </td>
                    <td align="right">
                        <span id="IVA5P">XIVA5P</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="Descripcion1">IRBPNR</span>
                    </td>
                    <td align="right">
                        <span id="IRBPNR">XIRBPNR</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="Descripcion1">VALOR TOTAL</span>
                    </td>
                    <td align="right">
                        <span id="VALORTOTAL">XVALORTOTAL</span>
                    </td>
                </tr>

            </table>
        </th>


    </tr>

    <tr>
        <td>
            <table id="tableformapago"></table>
        </td>

    </tr>
</table>
